@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Brygada+1918&family=Open+Sans:wght@700&display=swap");



body {
    font-family: 'Brygada 1918', serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    background-color: rgba(1, 2, 10, 1);
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;

}

.header {
    padding: 15px 0;

}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 197px;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.menu {
    display: flex;
    gap: 30px;
    list-style-type: none;
    position: absolute;
    left: 1000px;
}

.logo {
    background-color: white;
}

.menu-item {
    margin: 10px;
    padding: 10px;

}

/* тут стилі для баді та хедера*/

.title {
    line-height: 1;
    position: relative;
    text-align: center;
    margin-top: 250px;
    font-size: 120px;
}

.title::before {
    content: "";
    background: rgba(141, 64, 234, 0.9);
    height: 1000px;
    width: 670px;
    position: absolute;
    filter: blur(300px);
}

.title-notes {
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    height: 200px;

}

.title-img {
    background-color: rgb(255, 240, 254);
    width: 150px;
    margin-top: 10px;
    position: relative;
}